.main-container {
  /* background-image: url("../images/4172384_493.jpg"); */
  /* background-image: url("../component/atoms/images/Group\ 274@2x.jpg"); */
  /* background: transparent
    radial-gradient(
      closest-side at 30% 59%,
      #d5e9ed 0%,
      #abe4e8 16%,
      #7ddfe2 35%,
      #61dcdf 50%,
      #57dbde 59%,
      #45b0b2 86%,
      #3f9fa1 100%
    )
    0% 0% no-repeat padding-box; */
  /* width:1350px ; */
  /* height: 50px; */
  /* background: transparent
    radial-gradient(
      closest-side at 30% 59%,
      #d5e9ed 0%,
      #abe4e8 16%,
      #7ddfe2 35%,
      #61dcdf 50%,
      #57dbde 59%,
      #45b0b2 86%,
      #3f9fa1 100%
    )
    0% 0% no-repeat padding-box; */
  /* background-image: url("../component/atoms/images/Group\ 537.jpg"); */
  /* background-size: 175px,auto; */
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100vh;
  position: relative;
}

.background {
  width: 100%;
  height: 100vh;
  background: transparent
    radial-gradient(
      closest-side at 30% 59%,
      #d5e9ed 0%,
      #abe4e8 16%,
      #7ddfe2 35%,
      #688485 50%,
      #57dbde 59%,
      #45b0b2 86%,
      #3f9fa1 100%
    )
    0% 0% no-repeat padding-box;
  position: absolute;
  opacity: 0.6;
}

#logintitle {
  border: 1px solid black;
  width: 350px;
  height: 310px;
  background-color: #ffff;
  margin-top: 120px;
  margin-left: 800px;
  border-radius: 31px;
  text-align: center;
  padding-top: 30px;
  
}
#button {
  background-color: #3f9fa1;
}
#register {
  color: black;
}
#register:hover{
  color:#3F9FA1;
}
